html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
#cover {
  background: #222 url('https://static.vecteezy.com/system/resources/previews/002/272/583/non_2x/ingredients-for-healthy-foods-selection-on-dark-stone-background-in-heart-shape-free-photo.jpg') bottom center no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}
#cover-caption {
  width: 100%;
  padding: 20px;
  text-align: center;
}
